img {
    max-height: 50px;
}
.container {
    max-width: 400px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container textarea {
    resize: none;
    border: none;
    background-color: rgba(52, 152, 219, 0);
    font-family: Comfortaa;
}
.container textarea:focus {
    outline: none;
}