.paginator_wrapper {
    padding-top: 10px;
    display: grid;
    grid-template-columns: 5fr 1fr 5fr 5fr 5fr 1fr 5fr;
    width: 400px;
    margin: 0 auto;
}

.paginator_wrapper div {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.usual_link {
    text-decoration: none;
    color: white;
    padding: 5px;
    background-color: #9999d9;
    border-radius: 50px;
    min-width: 20px;
    text-align: center;
}

.current_page {
    color: white;
    border-bottom: 2px solid white;
    border-bottom-left-radius: 0;
}