.personal_info_wrapper {
}
.banner {
    max-height: 200px;
}
.banner img {
    width: 100%;
    max-height:  200px;
    object-fit: cover;
}
.avatar_plus_description {
    display: grid;
    grid-template-columns: 3fr 7fr;
    width: 100%;
    height: 220px;
}
.avatar {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.avatar img{
    max-height: 200px;
    max-width: 200px;
    border-radius: 15px;
}
.description {
    background-color: ghostwhite;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.contacts_container {
    width: 240px;
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
}
.contacts_container a {
    width: 30px;
    height: 30px;
}
.contacts_container img {
    max-width: 25px;
    max-height: 25px ;
}
