.nav {
    grid-area: nav;
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    align-items: center;
  }
.nav_link {
    padding: 5px;
    margin: 15px;
    color: white;
    text-decoration: none;
}
.nav_link:hover {
    border-bottom: 2px solid yellow;

}
.active_link {
    background-color: white;
    border-radius: 5px;
    color: black;
}