.nav {
    grid-area: nav;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: start;
  }
.navlink {
    padding: 5px;
    color: white;
    text-decoration: none;
}

.activelink {
    color: black;
}