.header {
    grid-area: header;
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header img {
    height: 60px;
}

