@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

.wrapper {
  background-color: #343434;
  margin: 0 auto;
  font-family: Comfortaa, serif;
  min-height: 100vh;
}
.main {
  width: 800px;
  margin: 0 auto;
}



