.wrapper {
  display: grid;
  max-width: 800px;
  margin: 0 auto;

  grid-template-areas: 
  "header header"
  "nav content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 5fr;
  grid-gap: 10px;
}
.header {
  grid-area: header;
  background-color: bisque;
}
.header img {
  height: 60px;
}
.nav {
  grid-area: nav;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.content {
  grid-area: content;
  background-color: bisque;
}

