.dialogswrapper {
    display: grid;
    grid-template-columns: 1fr 5fr;
}
.alldialogs {
    background-color: ghostwhite;
    display: flex;
    flex-direction: column;

}
.dialog {
    color: #3498db;
    text-decoration: none;
    background-color: #f5f5ff;
    border: 0.5px solid rgba(128, 128, 128, 0.19);
    border-radius: 15px;
    padding: 5px;
    margin: 5px;
}
.dialogactive {
    transform: scale(1.1);
    border: 0.5px solid rgba(128, 128, 128, 0.51);
}
.allmessages {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: end;
}
.message {
    max-width: 70%;
    min-width: 10%;
    text-align: right;
    /*border: 1px solid rgba(128, 128, 128, 0.09);*/
    background-color: rgba(128, 128, 128, 0.07);
    padding: 3px;
    margin: 4px;
}