.dialogswrapper {
    display: grid;
    grid-template-columns: 1fr 5fr;
}
.alldialogs {
    background-color: ghostwhite;
    display: flex;
    flex-direction: column;

}
.singledialogwrapper {
    display: grid;
    grid-template-columns: 2fr 6fr;
}
.singledialogwrapper img {
    max-height: 50px;
    max-width: 50px;
}
.dialog {
    /*min-width: 80px;*/
    max-width: 100%;
    color: #3498db;
    text-decoration: none;
    background-color: #f5f5ff;
    border: 0.5px solid rgba(128, 128, 128, 0.19);
    border-radius: 15px;
    padding: 5px;
    margin: 5px;
}
.dialogactive {
    transform: scale(1.1);
    border: 0.5px solid rgba(128, 128, 128, 0.51);
}
